/* Manipular la clase hero y sus distintos atributos*/
.hero 
{
  height: 100vh;
  background: linear-gradient(to right, #2d0a66, #9c7af0);
}

.hero h1 
{
  font-size: 4rem;
}

.hero p{
  font-size: 2rem;
}

/* Manipular el elemento img de la clase card */
.card img 
{
  height: 200px;
  object-fit: cover;
}

/* Manipular el fondo del elemento con el id "intro" */
#intro
{
  background: linear-gradient(to right, #b8eff5, #457cfc);
}

/* Manipular el fondo del elemento con el id "projects" */
#projects
{
  background: linear-gradient(to left, #bda1ff, #f8ec7c);
}

/* Manipular el fondo del elemento con el id "intro" */
#contact
{
  background: linear-gradient(to left, #caf5ae, #f7b054);
}

/* Manipular el button del formulario */
button
{
  font-style: italic;
}

/* Manipular el footer al final de la página */
footer
{
  font-style: italic;
  background: linear-gradient(to top, #505050, #000000);
}