/* Modificar elementos por clase */
.hero 
{
  height: 100vh;
  background: linear-gradient(to right, #2d0a66, #9c7af0);
}

.hero h1 
{
  font-size: 4rem;
}

.hero p
{
  font-size: 2rem;
}

.card img 
{
  height: 200px;
  object-fit: fill;
}

/* Modificar elementos por su ID */
#intro
{
  background: linear-gradient(to right, #b8eff5, #457cfc);
}

#projects
{
  background: linear-gradient(to left, #bda1ff, #f8ec7c);
}

#contact
{
  background: linear-gradient(to left, #E55D87, #5FC3E4);
}

/* Modificar elementos por su etiqueta*/
footer
{
  height: 50px;
  font-size: medium;
  font-style: italic;
  text-align: center;
  color: white;
  padding-top: 10px;
  background: linear-gradient(to top, #2d2d2d, #000000);
}